@import mixins
@import reset

.box-1
	background:
		image: url('../img/194.jpg')
		repeat: no-repeat
		size: cover
		position: top center
		attachment: fixed
	min-height: 900px	
	padding-bottom: 200px
	.inicio
		text-align: center
		h1 
			font-size: 100px
			margin-top: 400px
			color: $branco
			text-shadow: 0 0 20px $preto
		h2
			font-size: 80px
			margin-top: 300px
			color: $branco
			text-shadow: 0 0 20px $preto
.box-2 
	text-align: center
	margin-top: 100px
	margin-bottom: 100px		
	h2 
		font-size: 60px
		margin-bottom: 100px
	.slide 
		img 
			width: 100%
			padding: 5px	
.box-3 
	background: 
		image: url('../img/gestacao.jpg')	
		repeat: no-repeat
		position: top center
		attachment: fixed
		size: cover	
	min-height: 600px	
	text-align: center
	margin-top: 100px
	margin-bottom: 100px		
	h2 
		font-size: 40px
		margin-bottom: 100px
		margin-top: 500px
		color: $preto
	.slide 
		img 
			width: 100%
			padding: 5px	
.box-4 
	background:
		image: url('../img/coracao.png')
		position: top center
		repeat: no-repeat
		size: cover
	min-height: 1000px	
	h2
		margin-top: 200px
		text-align: center
		font-size: 50px 
		color: $branco
		text-shadow: 0 0 10px $preto		
	h3 
		margin-top: 200px
		text-align: center
		font-size: 70px 
		color: $branco
		text-shadow: 0 0 10px $preto	
			